[submodule "product-service"]
	path = product-service
	url = git@github.com:NicolasMRTNS/microservices-product-service.git
[submodule "order-service"]
	path = order-service
	url = git@github.com:NicolasMRTNS/microservices-order-service.git
